@import url("whitespace-reset.css");

/* Global Styles */
* {
	box-sizing: border-box;
}

body {
	font: normal 20px Avenir, Helvetica, Arial, sans-serif;
	color: #45494d
}

/* Header Styles */

header {
	text-align: center;
	background: #2f2840 url("images/bg_body.gif");
}

header > h1 {
	padding: 75px 0 107px 0;
}

nav {
	overflow: hidden
}

nav li {
 display: inline-block;
 padding-bottom: 60px;
}

nav li a {
	text-decoration: none;
 	font-size: 24px;
 	color: #cacaca;
 	text-transform: uppercase;
 	padding: 0 42.5px;
}

.current {
	color: #6db9ff;
	font-weight: bold;
}

/* Main Styles */

main {
	text-align: center;
	padding-top: 100px;
}

article > h2 {
	font: bold 36px Avenir, Helvetica, Arial, sans-serif;
	padding-bottom: 40px;
}

article > h2:before, article > h2:after {
	display: inline-block;
	content: "\2022";
	font-size: 22px;
	height: 36px;
	vertical-align: middle;
	padding: 0 24px;
}

article > h3 {
	font: bold 24px Avenir, Helvetica, Arial, sans-serif;
	color: #3e59b2;
	padding-bottom: 20px;
}

main article {
	width: 770px;
	margin: 0 auto;
	padding-bottom: 100px;
}


/* Footer Styles */

footer {
	background: #e7e7e7;
	text-align: center;
}

footer ul li {
	display: inline-block;
	padding-bottom: 82px;
}

footer li a {
	display: inline-block;
	background: transparent url("images/icons_social-media.png") 0 0 no-repeat;
	width: 46px;
	height: 46px;
	margin: 0 62px;
}

footer li a.facebook{
	background-position: 0 -46px;
}

footer li a.email {
	background-position: 0 -92px;
}

footer li a.instagram {
	background-position: 0 -138px;
}

footer p {
	padding: 75px 0 40px;
	width: 450px;
	margin: 0 auto;
	color: #b2b2b2;
}


